{% extends "layout.html" %}

{% block main %}
	<h1 class="display-4">{{ coolness }} {{ genremix[0] }} {{ genremix[1] }} {{ genremix[2] if genremix|length == 3}} Mix</h1>
	<br>
	{% if movies|length == 0 %}
		<p style="font-size: 8em;">😞</p>
		<p style="margin-top: -30px; margin-bottom: 30px; font-size: 1.1em;"><strong>No movies were found.</strong></p>
		<br>
	{% else %}
	<table class="table table-borderless">
		{% for movie_row in movies | batch(3, '&nbsp;') %}
		<tr>
			{% for movie in movie_row %}
				{% if movie != "&nbsp;" %}
				<td>
					<a href="https://www.imdb.com/title/{{ movie['tconst'] }}" target="_blank"><img src="{{ movie['poster'] }}"></a>
					<br>
					<a href="https://www.imdb.com/title/{{ movie['tconst'] }}" target="_blank">{{ movie["primaryTitle"] }}</a> 
					(<strong>{{ movie["averageRating"] }}</strong>)
				</td>
				{% endif %}
			{% endfor %}
		</tr>
		{% endfor %}
	</table>
	<br>
	{% endif %}
	<form action="/genremix" id="pop-search" method="POST">
		<input type="hidden" name="genres" value='{{ genremix[0] }}'>
		<input type="hidden" name="genres" value='{{ genremix[1] }}'>
		{% if genremix|length == 3 %}
			<input type="hidden" name="genres" value='{{ genremix[2] }}'>
		{% endif %}
		<input type="hidden" name="coolness" value="Popular">
	</form>
	<form action="/genremix" id="notso-search" method="POST">
		<input type="hidden" name="genres" value='{{ genremix[0] }}'>
		<input type="hidden" name="genres" value='{{ genremix[1] }}'>
		{% if genremix|length == 3 %}
			<input type="hidden" name="genres" value='{{ genremix[2] }}'>
		{% endif %}
		<input type="hidden" name="coolness" value="Not So Popular">
	</form>
	<form action="/genremix" id="less-search" method="POST">
		<input type="hidden" name="genres" value='{{ genremix[0] }}'>
		<input type="hidden" name="genres" value='{{ genremix[1] }}'>
		{% if genremix|length == 3 %}
			<input type="hidden" name="genres" value='{{ genremix[2] }}'>
		{% endif %}
		<input type="hidden" name="coolness" value="Lesser Known">
	</form>
	
	<p style="margin-bottom: 10px; font-weight: 200; font-size: 1.3em;">Try another category:</p>
	<button type="button" class="btn btn-primary btn-sm" onclick="popsubmit()">Popular</button>  
	<button type="button" class="btn btn-primary btn-sm" onclick="notsosubmit();">Not So Popular</button> 
	<button type="button" class="btn btn-primary btn-sm" onclick="lesssubmit();">Lesser Known</button>
	<br></br><div id="loading" class="loading"></div>
	<a href="/genremix" class="btn btn-primary btn-sm" role="button"> Back to Gerne Mix </a>

	<script type="text/javascript">
            function lesssubmit() {
            	document.getElementById('less-search').submit();
            	setTimeout(
            		function () {
            		document.getElementById('loading').innerHTML = 'Just a couple more seconds 😁';}, 2000)
            }

            function notsosubmit() {
            	document.getElementById('notso-search').submit();
            	setTimeout(
            		function () {
            		document.getElementById('loading').innerHTML = 'Just a couple more seconds 😁';}, 2000)
            }

            function popsubmit() {
            	document.getElementById('pop-search').submit();
            	setTimeout(
            		function () {
            		document.getElementById('loading').innerHTML = 'Just a couple more seconds 😁';}, 2000)
            }
    </script>


{% endblock %}