{% extends "layout.html" %}

{% block main %}
	<h1> Movie Finder</h1>
	<br>
	<form action="/" method="POST">
		<div class="form-group">
			<h5>Choose Genre</h5>
			<select class="form-control" name="genre">
				{% for genre in genres %}
					{% if genre["genre"] != "\\N" and genre["genre"] != "Talk-Show" and genre["genre"] != "Game-Show" %}
						<option>{{ genre["genre"] }}</option>
					{% endif %}
				{% endfor %}
			</select>
		</div>
		<button class="btn btn-primary" type="submit">Search</button>
	</form>
{% endblock %}